<aside class="sidebar">
    <div class="widget">
        <section class="author">
            <h2 class="widget__title">O mnie</h2>
            <img src="{{ '/assets/images/author.jpg' | relative_url }}" alt="" class="author__photo">
            <h3 class="author__name">Arkadiusz Kulewicz</h3>
            <p class="author__description">Autor bloga poruszeni.pl. Wielbiciel podróży, wszelkich forma
                aktywności, a przede wszystkim ostrego MTB po terenach Trójmiejskiego Parku Krajobrazowego. W
                wolnych chwilach rozwija swoje umiejętności w zakresie programowania.</p>
            <a class="author__link" href="#">Więcej o mnie</a>
        </section>
    </div>

    <div class="widget">
        <section class="categories">
            <h2 class="widget__title">Kategorie</h2>
            <ul class="categories__list">
                <li class="categories__item"><a class="categories__link" href="#">Bieganie</a></li>
                <li class="categories__item"><a class="categories__link" href="#">Rower</a></li>
                <li class="categories__item"><a class="categories__link" href="#">Duathlon</a></li>
                <li class="categories__item"><a class="categories__link" href="#">Wycieczki</a></li>
                <li class="categories__item"><a class="categories__link" href="#">Testy sprzętu</a></li>
            </ul>
        </section>
    </div>
</aside>