<aside class="sidebar">
    <div class="widget">
        <section class="author">
            <h2 class="widget__title">O mnie</h2>
            <img src="{{ '/assets/images/author.jpg' | relative_url }}" alt="" class="author__photo">
            <h3 class="author__name">Arkadiusz Kulewicz</h3>
            <p class="author__description">Autor bloga poruszeni.pl. Wielbiciel podróży, wszelkich forma
                aktywności, a przede wszystkim ostrego MTB po terenach Trójmiejskiego Parku Krajobrazowego. W
                wolnych chwilach rozwija swoje umiejętności w zakresie programowania.</p>
            <div class="social-links">
                <i class="fab fa-facebook-square social-links__item"></i>
                <i class="fab fa-youtube-square social-links__item"></i>
                <i class="fab fa-github-square social-links__item"></i>
            </div>
        </section>
    </div>

    <div class="widget">
        <section class="categories">
            <h2 class="widget__title">Kategorie</h2>
            <ul class="categories__list">
                    {% for category in site.categories %}
                    <li class="categories__item"><a class="categories__link" href="../{{ category[0]/}}">{{ category[0] | capitalize }}</a></li>
                    {% endfor %}
                
            </ul>
        </section>
    </div>
</aside>