<!DOCTYPE html>
<html lang="pl">

{%- include head.html -%}

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v5.0">
    </script>
    <header class="site-header">
        <nav class="navigation">
            <ul class="navigation__list navigation__list--js">
                <li class="navigation__item"><a class="navigation__link" href="{{'/'}}">Strona główna</a></li>
                {% for category in site.categories %}
                <li class="navigation__item"><a class="navigation__link"
                        href="../{{ category[0]}}">{{ category[0] | capitalize }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <button class="navigation__switcher navigation__switcher--js" aria-label="Otwórz menu"><i
                class="fas fa-bars"></i></button>
        <h1 id="top" class="site-header__title"><a class="site-header__link"
                href="{{ '/' | relative_url }}">Poruszeni.pl</a></h1>
    </header>
    <div class="container">
        <main class="main">

            {{ content }}

        </main>
        {%- include sidebar.html -%}
    </div>
    <a href="#top" class="top-button" aria-label="Przewiń do góry"><i class="far fa-arrow-alt-circle-up"></i></a>
    {%- include footer.html -%}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script id="dsq-count-scr" src="//poruszeni-pl.disqus.com/count.js" async></script>
</body>

</html>