---
layout: default
comments: true
---



<article class="post">
        <header class="post__header">
            <a class="post__category" href="../{{ page.categories }}">{{ page.categories }}</a>
            <h2 class="post__title">{{ page.title }}</h2>
            <p class="post__date">{{ page.date | date: "%d/%m/%Y" }}</p>
            <!-- <div class="post__image-box">
                <img class="post__image" src="{{ post.image }}"
                    alt="Zdjęcie ilustrujące post o Cross Duathlon Gdańsk">
            </div> -->
        </header>
        <div class="post__content">{{ content }}</div>
</article>

<div id="ceneoaffcontainer315348"></div>
<a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=21224&crid=315348&cid=36584" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//app.ceneostatic.pl/common/image/logo/ap-logo-transparent-small.png" alt="Ceneo.pl" /></a>
<script type="text/javascript" charset="utf-8">
	if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
	{
	var CeneoAPOptions = new Array(); 
	stamp = parseInt(new Date().getTime()/86400, 10);
	var script = document.createElement("script");
	script.setAttribute("type", "text/javascript");
	script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
	script.setAttribute("charset", "utf-8");
	var head = document.getElementsByTagName("head")[0];
	head.appendChild(script);
	}
	CeneoAPOptions[CeneoAPOptions.length] =
	{
		ad_creation: 315348,
		ad_channel: 36584,
		ad_partner: 21224,
		ad_type: 1,
		ad_content: '3522',
		ad_format: 4,
		ad_newpage: false,
		ad_basket: false,
		ad_container: 'ceneoaffcontainer315348',
		ad_formatTypeId: 1,
		ad_contextual: false, 
		ad_recommended: false, 
		ad_showRank: false 
	};
</script>




<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://poruszeni-pl.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>           
